@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71% 4%;
    --card: 220 13% 96%;
    --card-foreground: 224 71% 4%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71% 4%;
    --primary: 196 47% 64%;
    --primary-foreground: 0 0% 100%;
    --secondary: 215 28% 85%;
    --secondary-foreground: 224 71% 4%;
    --muted: 215 28% 92%;
    --muted-foreground: 215 30% 50%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 215 20% 87%;
    --input: 215 20% 87%;
    --ring: 196 47% 54%;
    --chart-1: 196 76% 41%;
    --chart-2: 130 58% 39%;
    --chart-3: 36 100% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
 
  .dark {
    --background: 208 33% 10%; /* #111b21 */
    --foreground: 200 18% 93%; /* #e9edef */
    --card: 202 24% 14%; /* #202c33 */
    --card-foreground: 200 18% 93%;
    --popover: 202 24% 14%;
    --popover-foreground: 200 18% 93%;
    --primary: 174 100% 18%; /* #005e54 */
    --primary-foreground: 200 18% 93%;
    --secondary: 215 28% 15%;
    --secondary-foreground: 0 0% 98%;
    --muted: 202 24% 14%; /* #202c33 */
    --muted-foreground: 200 18% 93%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 202 25% 20%;
    --input: 202 25% 22%;
    --ring: 196 47% 74%;
    --chart-1: 196 76% 51%;
    --chart-2: 130 58% 49%;
    --chart-3: 36 100% 60%;
    --chart-4: 43 74% 76%;
    --chart-5: 27 87% 77%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
