@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 25 95% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 35 91% 71%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 25 95% 53%;
    --chart-1: 25 95% 53%;
    --chart-2: 35 91% 71%;
    --chart-3: 15 85% 55%;
    --chart-4: 45 80% 55%;
    --chart-5: 5 80% 60%;
  }
 
  .dark {
    --background: 240 6% 10%;
    --foreground: 210 40% 98%;
    --card: 240 5% 15%;
    --card-foreground: 210 40% 98%;
    --popover: 240 5% 15%;
    --popover-foreground: 210 40% 98%;
    --primary: 25 95% 53%;
    --primary-foreground: 24 9.8% 10%;
    --secondary: 240 5% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 35 91% 71%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5% 20%;
    --input: 240 5% 20%;
    --ring: 25 95% 53%;
    --chart-1: 25 95% 53%;
    --chart-2: 35 91% 71%;
    --chart-3: 15 85% 55%;
    --chart-4: 45 80% 55%;
    --chart-5: 5 80% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
